@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFD700; /* Shiny gold */
  border-radius: 8px;
}



